.ipynb_checkpoints/basics-checkpoint.py .ipynb_checkpoints/basics_notebook-checkpoint.ipynb .ipynb_checkpoints/Calculate-Place-Map-checkpoint.ipynb .ipynb_checkpoints/eegh_merge-checkpoint.ipynb .ipynb_checkpoints/generate_eegs-checkpoint.sh .ipynb_checkpoints/phy_to_clu_res_andrea-checkpoint.ipynb .ipynb_checkpoints/phy_to_clu_res_andrea-checkpoint.py .ipynb_checkpoints/pynapple-tutorial-checkpoint.ipynb .ipynb_checkpoints/whl_seg_phy_to_clu_res_andrea1-checkpoint.ipynb
